Numbers
String
List
Tuple
Set
Dictionary

# Numbers

In [1]:
# variable and assignmennt
# a = Variable
# 20 = data

a=20

type(a)

int

In [3]:
b = 20.0

type(b)

float

In [4]:
c = 6+2j

type(c)

complex

# String

In [5]:
print("Hello world")

Hello world

In [8]:
first_string = 'python'
second_string = ' is powerful'
third_string = ' language'

In [9]:
print(first_string+second_string+third_string)

python is powerful language

In [10]:
print('32')

32

In [14]:
type('32')

str

In [15]:
type(first_string)

str

#### join both string and number and print

In [11]:
print('Day' +str(1))

Day1

In [13]:
print('Day' + '1')

Day1

# List

some kind of container where we can store all type of data

In [16]:
xyz = [20,'string',30.5]

print(xyz)

[20, 'string', 30.5]

In [17]:
type(xyz)

list

# Tuple

It is like list but storing data in parenthesis () we cannot do modification in tuple but can in list

In [18]:
abc=(20, 'string', 30.5)

print(abc)

(20, 'string', 30.5)

In [19]:
type(abc)

tuple

# Set

it is type of containerlike list but it eliminates duplicate

In [21]:
efg={20, 'string', 30.5,1,1}

print(efg)

{1, 20, 30.5, 'string'}

In [22]:
type(efg)

set

# Dictionary

In [26]:
D = {'name':'Bangalore','temp':30}

print(D)

{'name': 'Bangalore', 'temp': 30}

In [24]:
type(D)

dict

In [27]:
D1 ={'name':'a,b,c,d,e','salary':'20k,30k,40k,50k,60k,'}

In [28]:
D1

{'name': 'a,b,c,d,e', 'salary': '20k,30k,40k,50k,60k,'}